* {
  font-family: "Roboto", sans-serif;
  margin: 0 0;
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

p {
  margin: 5px 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.hero,
footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.title-text p,
.links a {
  font-size: 18px;
  color: #e5e7eb;
}

.banner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.hero .logo {
  font-size: 24px;
  min-width: 150px;
}

.title {
  display: flex;
  align-items: center stretch;
  padding: 100px 10px;
  min-height: 225px;
}

.title-text p {
  margin-right: 50px;
}

.title div {
  flex: 1;
}

.title-image {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: inline-flex;
}

.links a {
  margin: 20px 10px;
}

.sign-up {
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 7px;
  border: 5px solid #3882f6;
  font-size: 19px;
  margin: 10px 0px 0px 5px;
  padding: 2px 30px;
  min-width: 130px;
}

.information {
  max-width: 850px;
  margin: 50px auto 100px auto;
}

.information-list {
  display: flex;
  justify-content: space-around;
}

.information-list div {
  flex-grow: 1;
  max-width: 150px;
  text-align: center;
}

.information img {
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  border-radius: 20px;
}

.testimonial {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 100px 0;
}

.testimonial p {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
}

.quote {
  max-width: 800px;
  margin-left: 150px;
}

.quote-name {
  text-align: right;
  margin-right: 50px;
}

.call-to-action {
  margin: 80px;
}

.call-to-action-island {
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
  display: flex;
  padding: 45px 125px;
}

.call-to-action-island div {
  flex-grow: 2;
}

#CTA {
  border: 2px solid white;
}

footer {
  color: #e5e7eb;
  text-align: center;
  padding: 25px;
}
